<div class="container">
  <%= search_form_for @time_slot_for_search, :html => {:class => "form-inline"} do |f| %>
  <div class="field form-group">
    <%= f.label "Date" %><br>
    From:<%= f.text_field :date_from, { :class => "form-control datetimepicker" } %>&nbsp;
    To:<%= f.text_field :date_to, { :class => "form-control datetimepicker" } %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.submit "Search", :class => "btn btn-default" %>
    </div>
  <% end %>
</div>
