<div class="container">
  <%= search_form_for @time_slot_for_search, :html => {:class => "form-inline"} do |f| %>
    <div class="form-group">
      <%= f.label 'Date' %>
      <%= f.datetime_select :date_from_gteq, { :use_month_numbers => true, :minute_step => 30 }, { :class => "form-control" } %>:
      <%= f.datetime_select :date_to_lteq, { use_month_numbers: true, minute_step: 30}, { class: "form-control" } %>
    </div>
    <div>
      <%= f.submit 'Search', :class => "btn btn-default" %>
    </div>
  <% end %>
</div>
